<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- support for mobile touch devices -->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
    <h1>Title</h1>
    <div id="watch">
        <div class="watch-state">
            <div class="watch-time"></div>
            <div class="watch-light"></div>
            <div class="watch-mode"></div>
        </div>
        <div class="watch-controls">
            <button type="button" class="watch-btn-mode">Mode</button>
            <button type="button" class="watch-btn-incr">Increase</button>
            <button type="button" class="watch-btn-light">Light</button>
        </div>
    </div>
</body>
</html>
